<form class="form-horizontal">

    <h4>General</h4>
    <div class="control-group">
        <label class="control-label">Use full screen height</label>
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.fullscreen.max_height"> (useful for 4:3 aspect ratio)
            </label>
        </div>
    </div>
</form>
